<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./static/style.css">
</head>

<body>
    <h2>Добро пожаловать на страницу статистики!</h2>
    <div class="row">
        <table class="col-md-8">
            <caption>Информация об участниках</caption>
            <tr>
                <td>Количество участников опроса</td>
                <td>{{ all_info['total_count'] }}</td>
            </tr>
            <tr>
                <td>Средний возраст</td>
                <td>{{ all_info['age_mean'] }}</td>
            </tr>
            <tr>
                <td>Максимальный возраст</td>
                <td>{{ all_info['age_max'] }}</td>
            </tr>
            <tr>
                <td>Минимальный возраст</td>
                <td>{{ all_info['age_min'] }}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <table class="col-md-8">
            <caption>Статистика ответов</caption>
            <tr>
                <td>{{ all_info['q1_mode'] }}</td>
                <td>{{ all_info['q1_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q1_not_mode'] }}</td>
                <td>{{ all_info['q1_not_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q2_mode'] }}</td>
                <td>{{ all_info['q2_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q2_not_mode'] }}</td>
                <td>{{ all_info['q2_not_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q3_mode'] }}</td>
                <td>{{ all_info['q3_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q3_not_mode'] }}</td>
                <td>{{ all_info['q3_not_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q4_mode'] }}</td>
                <td>{{ all_info['q4_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q4_not_mode'] }}</td>
                <td>{{ all_info['q4_not_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q5_mode'] }}</td>
                <td>{{ all_info['q5_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q5_not_mode'] }}</td>
                <td>{{ all_info['q5_not_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q6_mode'] }}</td>
                <td>{{ all_info['q6_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q6_not_mode'] }}</td>
                <td>{{ all_info['q6_not_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q7_mode'] }}</td>
                <td>{{ all_info['q7_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q7_not_mode'] }}</td>
                <td>{{ all_info['q7_not_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q8_mode'] }}</td>
                <td>{{ all_info['q8_mode_num'] }}</td>
            </tr>
            <tr>
                <td>{{ all_info['q8_not_mode'] }}</td>
                <td>{{ all_info['q8_not_mode_num'] }}</td>
            </tr>
        </table>
    </div>
    <p><a href='.\'>Опрос</a></p>
</body>